		


		<div id="container" class="container">
			
			<hr />
			<footer>
				<p><a href="#">BYVoid</a>2012</p>
			</footer>
		</div>


		<script type="text/javascript" src="javascripts/jquery-2.0.3.min.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	</body>
</html>