!!! 5
html
    head
        title= title
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")

    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target=".nav-collapse")
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="/") Microblog
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href="/") 首页
                        if !user
                            li
                                a(href="/login") 登入
                            li
                                a(href="/reg") 注册
                        else
                            li
                                a(href="/logout") 登出
        #container.container
            if success
                .alert.alert-success
                    = success
            if error
                .alert.alert-danger
                    = error
                    
            block content
            
        hr
        footer.text-center
            p
                a(href="#") BYVoid

        script(type="text/javascript", src="javascripts/jquery-2.0.3.min.js")
        script(type="text/javascript", src="/javascripts/bootstrap.min.js")