<form method="post" class="form-horizontal" role="form">
	<fieldset>
		<legend>用户登录</legend>
		<div class="form-group">
			<label for="username" class="col-lg-2 control-label">用户名</label>
			<div class="">
				<input type="text" id="username" name="username" class="input_xlarge">
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="col-lg-2 control-label">口令</label>
			<div class="">
				<input type="password" class="input-xlarge" id="password" name="password">
			</div>
		</div>
		<div class="form-group">
			<button type="submit" class="col-lg-offset-2 btn btn-primary">登录</button>
		</div>
	</fieldset>
</form>