-	posts.forEach(function(post, index){
-		if(index % 3 == 0) {
			.row
-		}
				.col-md-4
					h2
						a(href="/u/"+post.user)= post.user 
						说
					p= post.post
					p
						small= post.time
-	});