<form action="/post" method="post" class="form-inline well text">
	<div class="form-group col-md-8 col-md-offset-1">
		<input type="text" class="form-control" name="post"></div>
	<button type="submit" class="btn btn-success"> <i class="glyphicon glyphicon-comment"></i>
		发言
	</button>
</form>