
form.form-inline.well.text(action="/post",method="post") 
	div.form-group.col-md-8.col-md-offset-1
		input.form-control(type="text",name="post")
	button.btn.btn-success(type="submit")
		i.glyphicon.glyphicon-comment
		|发言
